language: node_js
node_js:
  - "6"
  - "8"
  - "10"
  - "12"
matrix:
  fast_finish: true
script: "npm run-script test-ci"
after_script: "npm install coveralls@2.10.0 && cat ./coverage/lcov.info | coveralls"
